@import 'mixins';



/*==========  ID Rules  ==========*/
#hamburger {
    cursor: pointer;
    @include container(50px, 50px, 0);
}

#logo {
    cursor: pointer;
    @include container(170px, 30px, 0);
}

#wallet {
    background-color: $Purple;
    border-radius: 10px;
    color: $White;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-color: transparent;
    cursor: pointer;
    font-family: 'Red Rose', sans-serif;
    @include container(170px, 48px, 0);
}



/*==========  Class Rules  ==========*/
.mobile {
    @include desktopView {
        display: none !important;
    }
}

.desktop {
    @include maxWidth(1024px) {
        display: none !important;
    }
}

.header-wrapper {
    @include container(90%, 100%, 0px auto);
    padding: 10px 0px;
    @include flexSetup(row, space-between, center);


    @include desktopView {
        padding: 15px 0;
    }
}

.desktop-menu {
    padding: 0;
   

    li {
        display: inline-block;
        margin: 0px 15px;
        @include menuSelect;
    }
}

.mobile-menu {
    @include container(fit-content, fit-content, 0);
    padding: 20px;
    position: absolute;
    right: 6%;
    background-color: $White;
    border-radius: 5px;
    box-shadow: 5px 5px 10px $TextBlack;

    li {
        margin: 10px 30px 10px 15px;

        &:hover {
            color: $Purple;
            transition: all 0.5s ease-in-out;
        }
    }

    #mobile-wallet {
        font-weight: 700;
        color: $Purple;
        margin-top: 20px;
    }

    @include desktopView {
        display: none !important;
    }
}

/*==========  Elment Rules  ==========*/
header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $White;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);

    a {
        color: $TextBlack;
        text-decoration: none;
    }
    
    ul {
        padding: 0;
    }
    
    li {
        cursor: pointer;
        color: $TextBlack;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        list-style-type: none;
    }
}




